<% if success %>
  <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
    <%= success %>
    <button type="button" class="close btn btn-sm btn-outline-success ms-2 px-1 py-0" data-bs-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if error %>
  <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <%= error %>
    <button type="button" class="close btn btn-sm btn-outline-danger ms-2" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

